server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /lampa;
        index index.html;
        # Everything is a 404
        location / {
                try_files $uri $uri/ / index.html;
        }

        # You may need this to prevent return 404 recursion.
        location = /index.html {
                internal;
        }
}
